### USE WHITTELIST ###

# Ignore everything
*
# But don't skip over subdirectories
!*/

### FOLDERS ###

# Recursively add everything from these directories
!/gradle/**
!/src/**
# Except in this subdirectory
/src/api/

### FILES ###

# And add all these files individually
!/.gitignore
!/build.gradle
!/gradlew
!/gradlew.bat
!/LICENSE.md
!/versions.json
